.hidden
{
	display: none;
}

html
{
	width: 100%;
}

@font-face {
  font-family: 'Raleway Light';
  src: url('Raleway-Light.woff2') format('woff2'), 
       url('Raleway-Light.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('Raleway-Bold.woff2') format('woff2'), 
       url('Raleway-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Mohave Bold';
  src: url('Mohave-Bold.woff2') format('woff2'), 
       url('Mohave-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Mohave Light';
  src: url('Mohave-Light.woff') format('woff');
}

body
{
	font-family: 'Raleway Light';
	margin-top: 25px;
	background-color:white;
}

a
{
	text-decoration: none;
}

.container
{
	max-width: 90%;
	padding-bottom: 40px;
	margin: 0 auto;
}

header
{
	display: flex;
	flex-direction: row;
	position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   padding-left: 25px;
   margin-top: 25px;
   margin-bottom: 25px;
   justify-content: space-between;
}

#mainLogo
{
	margin-right: 50px;
}

#mainLogo img
{
	width: 50px;
}

nav
{
	font-size: 18px;
	display: flex;
	flex-direction: row;
}

nav a
{
	color: black;
	margin-right: 30px;
}

nav a:hover
{
	color: white;
	background-color: black;
	font-family: 'Raleway Bold';
}

.body
{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/*Footer*/
footer
{
	display: flex;
	flex-direction: row;
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-left: 25px;
   margin-bottom: 25px;
   justify-content: space-between;
}

.color
{
	margin-right: 50px;
}

/*Contact*/
#contact
{
	color: black;
	font-family: 'Raleway Bold';
}

#contact:hover
{
	color: blue;
}
/*_______________________*/

.socialMedia
{
	display: flex;
	flex-direction: row;
}

.socialMedia a img
{
	width: 20px;
	margin-right: 18px;
}

/*INDEX*/

.body, .works
{
	display: flex;
	flex-direction: column;
}

.welcome
{
	background-color: red;
	height: 750px;
}

.logoAnimation
{
	background-color: aqua;
	height: 400px;
}
.introMe 
{
	padding-top: 30px;
}

.introMe p
{
	margin-bottom: 30px;
}

.works 
{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	width: 100%;
	margin-top: 40px;
}

.featured
{ 
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: pink;
	padding-top: 90px;
	padding-bottom: 90px;
}

.one
{
	background: url("../images/feat_traa.jpg") center no-repeat;
}

.four
{
	background: url("../images/feat_mashup.jpg") center no-repeat;
}

.five
{
	background: url("../images/feat_donate.jpg") center no-repeat;
}

.six
{
	background: url("../images/feat_vg.jpg") center no-repeat;
}


#workTitle
{
	font-family: 'Raleway Bold';
	font-size: 50px;
	letter-spacing: 5px;
	color: white;
}

#workType
{
	font-size: 2.5em;
}

/*PROJECTS - EACH WORK*/
.featuredHero
{
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;

}

#briefInfo
{
	font-family: 'Mohave Light';
	font-size: 18px;
	border-left: 5px solid #FF7BAC;
}


#briefInfo p
{
	margin-bottom: 10px;
	margin-left: 10px;
}

#type
{
	font-family: 'Mohave Bold';
}

.pjIntro
{
	margin-top: 30px;
	background-color: #E6E6E6;
	padding: 20px;
}

/*Breakdown*/
#pj
{
	margin: 0 auto;
	margin-top: 30px;
}

#breakdown
{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

#breakdown h4
{
	font-family: 'Mohave Bold';
	margin-bottom: 15px;
}

/*End Breakdown*/


.nextPj
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 150px;
	margin-top: 50px;
	text-align: center;
	font-family: 'Raleway Bold';
	font-size: 20px;
}

.nextPj a
{
	color: white;
}

.previous
{
	background-color: red;
	padding-top: 50px;
	width: 40%;
}

.next
{
	background-color: black;
	width: 40%;
	padding-top: 50px;
}

.sixth
{
	background: url("../images/next_vg.jpg") center no-repeat;;
}

/*ABOUT*/
#aboutMe 
{
	margin: 0 auto;
}

.meDetail 
{
	margin: 0 auto;
	margin-top: 30px;
}

#myImg
{
	background-color: red;
	height: 300px;
	width: 250px;
	margin: 0 auto;
}

#hien
{
	font-family: 'Mohave Bold';
}

#moreAbtMe
{
	margin-top: 30px;
}

/*Contact Form*/
.contact
{
	margin-top: 30px;
	background-color: purple;
	padding: 30px;
}


/*Responsive*/
@media screen and (min-width: 768px) {
	.works
	{
		grid-gap: 40px;
	}
}
  	

@media screen and (min-width: 1024px) {
	.works 
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 50px;
		margin-bottom: 25px;
	}

	.featured
	{ 
		padding-top: 110px;
		padding-bottom: 110px;
	}
  


  	#moreAbtMe
  	{
  		margin-top: 0px;
 
  		width: 70%;
  	}
} /*End Desktop*/
