.hidden
{
	display: none;
}

html
{
	width: 100%;
}

@font-face {
  font-family: 'Raleway Light';
  src: url('Raleway-Light.woff2') format('woff2'), 
       url('Raleway-Light.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('Raleway-Bold.woff2') format('woff2'), 
       url('Raleway-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Mohave Bold';
  src: url('Mohave-Bold.woff2') format('woff2'), 
       url('Mohave-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Mohave Light';
  src: url('Mohave-Light.woff') format('woff');
}

@font-face {
  font-family: 'Baskervville';
  src: url('Baskervville-Italic.woff2') format('woff2'), 
       url('Baskervville-Italic.woff') format('woff');
}

body
{
	font-family: 'Raleway Light';
	margin-top: 25px;
	background-color:white;
}

a
{
	text-decoration: none;
}

.container
{
	max-width: 90%;
	padding-bottom: 70px;
	margin: 0 auto;
}

header
{
	display: flex;
	flex-direction: row;
	position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   padding-left: 25px;
   margin-top: 25px;
   margin-bottom: 25px;
   justify-content: space-between;
}

#mainLogo
{
	margin-right: 50px;
}

#mainLogo img
{
	width: 50px;
}

nav
{
	font-size: 18px;
	display: flex;
	flex-direction: row;
}

nav a
{
	color: black;
	margin-right: 30px;
	font-family: 'Raleway Bold';
}

nav a:hover
{
	color: white;
	background-color: black;
	font-family: 'Raleway Bold';
}

.body, .pjBody
{
	margin-top: 80px;
	justify-content: flex-start;
}

/*Footer*/
footer
{
	display: flex;
	flex-direction: row;
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-left: 25px;
   margin-bottom: 25px;
   justify-content: space-between;
}

.color
{
	margin-right: 50px;
}

/*Contact*/
#contact
{
	color: black;
	font-family: 'Raleway Bold';
}

#contact:hover
{
	color: blue;
}
/*_______________________*/

.socialMedia
{
	display: flex;
	flex-direction: row;
}

.socialMedia a img
{
	width: 20px;
	margin-right: 18px;
}

/*INDEX*/

.body, .works
{
	display: flex;
	flex-direction: column;
}

.welcome
{
	background-color: red;
	height: 750px;
}

.logoAnimation
{
	background-color: aqua;
	height: 400px;
}
.introMe 
{
	padding-top: 30px;
}

.introMe p
{
	margin-bottom: 30px;
}

.works 
{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	width: 100%;
	margin-top: 40px;
}

.featured
{ 
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-top: 90px;
	padding-bottom: 90px;
}

.one
{
	background: url("../images/feat_traa.jpg") center no-repeat;
}

.two
{
	background: url("../images/feat_traa.jpg") center no-repeat;
}

.three
{
	background: url("../images/feat_housecom.jpg") center no-repeat;
}

.four
{
	background: url("../images/feat_mashup.jpg") center no-repeat;
}

.five
{
	background: url("../images/feat_donate.jpg") center no-repeat;
}

.six
{
	background: url("../images/feat_vg.jpg") center no-repeat;
}


#workTitle
{
	font-family: 'Raleway Bold';
	font-size: 40px;
	letter-spacing: 3px;
	color: white;
}

#workType
{
	font-size: 2em;
}

/*PROJECTS - EACH WORK*/
.featuredHero
{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#spc
{
	width: 100%;
}

.briefInfo
{
	font-family: 'Mohave Light';
	font-size: 18px;
	height: 75px;
	margin-top: 20px;
}


.briefInfo p
{
	margin-bottom: 10px;
	margin-left: 10px;
}

.fr
{
	border-left: 5px solid #648417;
}

.tr
{
	border-left: 5px solid #5687be;
}

.fo
{
	border-left: 5px solid gray;
}

.fi
{
	border-left: 5px solid #444539;
}

.sx
{
	border-left: 5px solid #86afb6;
}

#type
{
	font-family: 'Mohave Bold';
}

.pjIntro
{
	margin-top: 30px;
	background-color: #E6E6E6;
	padding: 20px;
}

/*Breakdown*/
#pj
{
	margin: 0 auto;
	margin-top: 30px;
}

#breakdown
{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
}

#breakdown img
{
	width: 100%;
}

#breakdown h4
{
	font-family: 'Mohave Bold';
	margin-bottom: 15px;
}

#workBg, #webBg
{
	background-color: #efefef;
	margin-top: 20px;
	padding: 20px;
}


/*End Breakdown*/


.nextPj
{
	display: flex;
	flex-direction: row;
	height: 150px;
	margin-top: 50px;
	text-align: center;
	font-family: 'Raleway Bold';
	font-size: 20px;
}

.nextPj a
{
	color: white;
}

.previous, .next
{
	background-color: red;
	padding-top: 50px;
	width: 50%;
}

/*ABOUT*/
#greeting h2
{
	font-size: 20vw;
	font-family: 'Baskervville';
}

#greeting h3
{
	font-family: 'Mohave Bold';
	font-size: 21px;
	margin-top: 15px;
}

#meIntro
{
	margin-top: 30px;
	font-family: 'Raleway Bold';
}

#underline
{
	color: blue;
}

#underline:hover
{
	border-bottom: 3px solid blue;
}

#picture
{
	background-color: black;
	height: 120px;
	margin-top: 50px;
}

.categories
{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

#branding ul
{
	border-left: 5px solid #262687;
	padding-left: 5px;
}

#edu 
{
	border-left: 5px solid #00FF00;
	padding-left: 5px;
	margin-left: 120px;
}

#skills
{
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: 'Mohave Bold';
	font-size: 20px;
	text-decoration: underline;
}

#apps, #apps2
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 320px;
}

#apps img
{
	width: 50px;
}

#apps2 img
{
	width: 60px;
}


#note
{
	margin-top: 50px;
	transform: rotate(-30deg);
	width: 200px;
	background-color: #efefef;
	padding: 20px;
	margin-bottom: 70px;
	font-family: 'Baskervville';
}

/*Contact Form*/
.contact
{
	margin-top: 30px;
	background-color: purple;
	padding: 30px;
}


/*PROJECTS*/

#pjList
{
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

#pjList img
{
	width: 50%;
}

#pjLink
{
	background-color: black;
	width: 50%;
	padding: 15px;
}

#pjLink:hover
{
	background-color: #262687;
}

#linkTitle
{
	color: white;
	font-family: 'Mohave Bold';
	font-size: 20px;
}

#linkTitle:hover
{
	color: #00FF00;
}

#pjType
{
	color: #ff00ff;
	font-size: 15px;
	margin-top: 5px;
}

/*Responsive*/
@media screen and (min-width: 768px) {
	.body
	{
		margin-left: 20px;
		margin-right: 20px;
	}

	.works
	{
		grid-gap: 40px;
	}

	/*Each Project Page*/
	.briefInfo
	{
		font-size: 20px;
	}

	#breakdown h4
	{
		font-size: 20px;
	}

	#workBg, #webBg
	{
		margin-top: 30px;
		padding: 30px;
		display: flex;
		flex-direction: column;
	}

	#breakdown img
	{
		width: 80%;
		margin: 0 auto;
	}

}/*end Tablet*/
  	

@media screen and (min-width: 1024px) {
	.body
	{
		width: 1600px;
		margin: 0 auto;
		margin-top: 80px;
	}

	.works 
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 50px;
		margin-bottom: 25px;
	}

	.featured
	{ 
		padding-top: 110px;
		padding-bottom: 110px;
	}

  	#moreAbtMe
  	{
  		margin-top: 0px;
 
  		width: 70%;
  	}

  	/*PROJECTS - EACH WORK*/
	.featuredHero
	{
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	#spc
	{
		width: 70%;
	}

	.briefInfo
	{
		margin-top: 170px;
		height: 85px;
	}

	.briefInfo p
	{
		font-size: 22px;
	}

	.tr
	{
		border-left: 7px solid #5687be;
	}

	.fr
	{
		border-left: 7px solid #648417;
	}

	.fi
	{
		border-left: 7px solid #444539;
	}

	.sx
	{
		border-left: 7px solid #86afb6;
	}

	.pjIntro
	{
		background-color: #E6E6E6;
		padding: 30px;
	}

	/*Breakdown*/
	#pj
	{
		margin-top: 50px;
	}

	#breakdown
	{
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
	}

	#breakdown img
	{
		width: 60%;
		margin: 0 auto;
	}

	#workBg, #webBg
	{
		margin-top: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#webBg
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

} /*End Desktop*/
